.search-form
{
    label
    {
        display: block;
    }

    .search-field
    {
        padding: 5px 10px;
        margin-bottom: 20px;
    }

    .form-group
    {
        button
        {
            display: block;
            width: 100%;
            margin-top: 27px;
            padding: 5px;
        }

        select
        {
            width: 100%;
            padding: 5px;
            margin-top: 8px;
        }
    }
}