body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid grey;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  /* width: 100vw; */
}

main section {
  width: 100%;
  max-width: 1200px;
}

.btn
{
  background: #6ac045;
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  position: relative;
  padding: 7px 15px;
  transition: all 300ms ease;
  text-decoration: none;
  cursor: pointer;
}